BizTalk Server 2013 WCF-WebHttp Adapter Sample/[C#]-BizTalk Server 2013 WCF-WebHttp Adapter Sample/C#/AirportStatus.Demo.Solution.Client/Service References/SR_Airport/AirportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://AirportStatus.Demo.Solution.Schemas.AirportStatus" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://AirportStatus.Demo.Solution.Schemas.PropertySchema" targetNamespace="http://AirportStatus.Demo.Solution.Schemas.AirportStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo />
  </xs:annotation>
  <xs:element name="Request">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AirportCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Response">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="ICAO" type="xs:string" />
        <xs:element name="State" type="xs:string" />
        <xs:element name="Status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AvgDelay" type="xs:anyType" />
              <xs:element name="ClosureEnd" type="xs:anyType" />
              <xs:element name="ClosureBegin" type="xs:anyType" />
              <xs:element name="Type" type="xs:anyType" />
              <xs:element name="MinDelay" type="xs:anyType" />
              <xs:element name="Trend" type="xs:anyType" />
              <xs:element name="Reason" type="xs:string" />
              <xs:element name="MaxDelay" type="xs:anyType" />
              <xs:element name="EndTime" type="xs:anyType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Delay" type="xs:boolean" />
        <xs:element name="IATA" type="xs:string" />
        <xs:element name="City" type="xs:string" />
        <xs:element name="Weather">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Weather" type="xs:string" />
              <xs:element name="Meta">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Credit" type="xs:string" />
                    <xs:element name="Url" type="xs:string" />
                    <xs:element name="Updated" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Wind" type="xs:string" />
              <xs:element name="Temp" type="xs:string" />
              <xs:element name="Visibility" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>