ASP.NET N Tier WCF sample application implementation on separate machines/[C#]-ASP.NET N Tier WCF sample application implementation on separate machines/C#/Test.WebApp/Service References/EmpService/EmpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Test.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Test.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpInfo" nillable="true" type="tns:EmpInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpInfo" nillable="true" type="tns:ArrayOfEmpInfo" />
  <xs:complexType name="EmpInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpInfo" nillable="true" type="tns:EmpInfo" />
</xs:schema>